/* h1 {
  color: white;
  background-color: slategray;
} */
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
  font-display: optional;
}

#app {
  max-width: 1200px;
  margin: 100px auto;
}

html {
  scroll-behavior: smooth;
}

.ui.huge.header {
  min-height: 1em;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
}

/* ---------------------------------- Overview ------------------------------- */

.overview-container {
  display: flex;
  flex-wrap: nowrap;
}

/* ----- STYLE THUMBNAILS ----- */
.stylename {
  display: flex;
  justify-content: center;
}
.styles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.style-thumbnail {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.thumbnail-container {
  position: relative;
  margin: 10px;
  width: 15%;
}

.thumbnail-container i.icon.check {
  position: absolute;
  top: -6px;
  right: -9px;
}

/* ----- PRODUCT CARD TITLE ----- */
.product-name {
  font-size: xx-large;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-category {
  display: flex;
  justify-content: center;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-wrapper {
  display: flex;
  justify-content: center;
  margin: 0.25em;
}

.style-name {
  display: flex;
  justify-content: center;
}

.ui.card > .content > .header:not(.ui),
.ui.cards > .card > .content > .header:not(.ui) {
  font-weight: 900;
  font-size: 2em;
  line-height: 1.28571429em;
}

.ui.card {
  width: 425px;
  margin: 0;
}

.ui.card > .content,
.ui.cards > .card > .content {
  flex-grow: 1;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  background: 0 0;
  margin: 0;
  padding: 25px;
  box-shadow: none;
  font-size: 1em;
  border-radius: 0;
}

.rating-wrapper {
  display: flex;
  justify-content: space-between;
}

.star-ratings.product-card-star {
  font-size: 110%;
  height: 0;
}

/* ----- SIZE AND QUALITY ----- */
.ui.selection.dropdown {
  min-width: 10em;
}

.size-wrapper {
  display: flex;
  justify-content: center;
}

.cart-wrapper {
  display: flex;
  justify-content: center;
}

.cart-warning {
  margin: 0 43px;
}

.ui.button.cart-button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0, 0, 0, 0.6);
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) inset,
    0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  -webkit-user-select: none;
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
  will-change: "";
  -webkit-tap-highlight-color: transparent;
  min-width: 10em;
}

/* ----- PRODUCT GALLERY ----- */
.gallery-container {
  display: flex;
}

.image-wrapper {
  display: flex;
  align-items: center;
  margin: 0 25px;
  width: 650px;
  height: 650px;
  position: relative;
}

.image-viewer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1.5px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
}

.image-child {
  max-height: 650px;
  width: auto;
  height: 100%;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.thumbnail-child {
  height: auto;
  width: 75px;
  margin: 0 0 25px;
}

.thumbnail-wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 650px;
  width: 85px;
}

.arrow-child {
  height: 25px;
  width: 25px;
}

.arrow.left.large {
  position: absolute;
  left: -2.5%;
  cursor: pointer;
}

.arrow.right.large {
  position: absolute;
  right: -2.5%;
  cursor: pointer;
}

.expand.large.icon {
  position: absolute;
  right: -2.5%;
  top: 0%;
  cursor: pointer;
}

.accordion-text {
  background-color: rgba(121, 128, 136, 0.15);
  padding: 10px;
}

.accordion-wrapper {
  cursor: pointer;
  margin: 0.5em;
}

.social-media {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.ui.circular.button {
  border-radius: 10em;
  min-width: auto;
  padding: 12px;
  margin: 7px;
}

.product-slogan {
  margin: 15px 15px 7.5px 10px;
}

/* ---------------------------------- Ratings and Reviews ------------------------------- */
.ratingsAndReviewsName {
  margin: 20px 0;
  padding: 20px 0px;
  /* padding-left: 200px; */
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: x-large;
}
.ratingsAndReviews {
  display: flex;
  justify-content: center;
}

.reviewsParent {
  margin: 5px;
  padding: 5px;
  padding-right: 0px;
  font-size: medium;
  box-sizing: content-box;
  flex-basis: unset;
  flex-grow: 1;
  width: 100%;
  min-width: 72%;
}
/* .ratingsParent {
  margin: 5px;
  padding: 5px;
  box-sizing: content-box;
  flex-basis: unset;
  flex-grow: 1;
  width: 100%;
  max-width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
} */

.ratingsParent {
  margin: 0 5px 0 0;
  padding: 0 10px 0 0;
  box-sizing: content-box;
  flex-basis: unset;
  flex-grow: 1;
  width: 100%;
  /* max-width: 80%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.reviewButtons {
  padding-top: 2vh;
  padding-left: 2vh;
  padding-bottom: 2vh;
  display: flex;
}
.reviewEntryContainer {
  overflow: auto;
  margin: 10px;
  padding: 10px;
  max-width: 810px;
  max-height: 600px;
}
.reviewHeader {
  font-size: larger;
  font-weight: bold;
  padding-bottom: 1vh;
}

.ratingAndUser {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: medium;
}
.reviewSummary {
  font-size: larger;
  font-weight: bold;
  padding-bottom: 20px;
  padding-right: 2vh;
}
.reviewBody {
  padding-right: 2vh;
  padding-bottom: 20px;
  font-size: 90%;
}
.helpfulParent {
  font-size: small;
  display: flex;
  padding-bottom: 15px;
}

.helpfulWord {
  padding-right: 10px;
}
.yesButton {
  padding-right: 5px;
  text-decoration: underline;
  cursor: pointer;
}
.helpfulCount {
  padding-right: 10px;
}
.reportButton {
  cursor: pointer;
  text-decoration: underline;
  padding-left: 20px;
}
.radioButton {
  color: red;
}
#characteristics {
  display: flex;
  justify-content: space-evenly;
  font: inherit;
}
.characteristicsLabel {
  font: inherit;
}
#reviewEntryPic {
  display: flex;
  justify-content: center;
}

/*--------------------- Ratings --------------------*/
.star-number-holder {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: -13px;
}
.ratingsParentContainer {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
}
.ratingDiagramParent {
  width: 105%;
}
.rating {
  padding-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 500%;
  font-weight: bold;
}

.recommendPercent {
  /* margin: 10px; */
  /* padding: 10px; */
  padding-bottom: 10%;
}
.ratingWrapper {
  width: 85%;
}
.ratingBreakdown {
  text-decoration: underline;
  margin: 2px;
  padding: 2px;
  padding-left: 10px;
}
.ratingBar {
  cursor: pointer;
}

/*---------- REVIEW STARS ----------*/
.star-ratings {
  position: relative;
  font-size: 200%;
  width: fit-content;
  height: 7vh;
}
.fill-ratings {
  top: 10%;
  position: absolute;
  color: #fbbd0a;
  z-index: 1;
  width: 30%;
  overflow-x: hidden;
}
.empty-ratings {
  top: 10%;
  position: relative;
  color: gray;
  z-index: 0;
}
