h1 {
  color: white;
  background-color: slategray;
}

/* ----- STYLE THUMBNAILS ----- */
.ui.tiny.image, .ui.tiny.images .image, .ui.tiny.images img, .ui.tiny.images svg {
  width: 80px;
  height: 80px;
  margin: 5px;
  font-size: .85714286rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.ui.tiny.image, .ui.tiny.images .image, .ui.tiny.images img, .ui.tiny.images svg:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.726);
}

/* ----- PRODUCT CARD TITLE ----- */
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  font-weight: 900;
  font-size: 2em;
  margin-top: -.21425em;
  line-height: 1.28571429em;
}

.ui.card, .ui.cards>.card {
  width: 425px;
}