.relatedProductContainer{
  /* padding-left: 20%;
  padding-right: 20%; */
  padding-left: 114px;
  margin: 10px 0;
}

#addOutfit {
  position: absolute;
  right: 25%;
  bottom: 40%;
  font-size: 40px;
  background-color: transparent;
  cursor: copy;
}

.addOutfitText {
  position: absolute;
  right: 33%;
  bottom: 40%;
  font-weight: bold;
}

.ui.header.header.related-product-header {
  margin: 25px 20px 10px;
}

.itemCarousel {
  height: 375px;
}
#app > div.relatedProductContainer > div:nth-child(1) > div > div > div.sc-bwzfXH.gwZiig {
  height: 400px;
}

#app
  > div.relatedProductContainer
  > div:nth-child(1)
  > div
  > div
  > div.sc-bwzfXH.gwZiig
  > div
  > div.sc-bxivhb.evPXcE
  > div {
  background-color: transparent;
}

.productCarousel {
  display: flex;
  /* box-sizing: border-box; */
  margin: 10 10px;
  /* overflow: auto; */
  /* border: 1px;
  border-color: black;
  border-style: solid; */
}

.productCarousel .productCardImg {
  width: 100%;
  height: 75%;
}

.productCardImg {
  cursor: pointer;
}
.productCard {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 250px;
  height: 375px;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-shrink: 0;
  margin: 10px 20px;
}
.productCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.726);
}
.parentImg {
  display: flex;
  align-items: center;
  height: 75%;
  width: 100%;
  margin: auto;
}
.productCard img {
  width: 100%;
  height: auto;
  position: relative;
}
.cardInfo {
  position: relative;
  background-color: white;
  margin: 2px 0px 2px 0px;
  padding: 0px 10px 0px 10px;
}